[ req ]
default_bits       = 4096
default_md         = sha512
encrypt_key        = no
distinguished_name = req_distinguished_name
x509_extensions    = v3_ca

[ req_distinguished_name ]
countryName         = Country Name (2 letter code)
countryName_default = FR
commonName          = Common Name (eg, website domain name)

[ v3_ca ]
basicConstraints = CA:TRUE
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer
